.panel--1 { 
  background-image:url(../img/cf-portrait.png);
}

.panel--2 {
  background-image:url(../img/dk-portrait.png);
}

.panel--3 {
  background-image:url(../img/mgw-portrait.png);
}

.panel--4 {
  background-image:url(../img/fl-portrait.png);
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.panel--open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.panel--open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 3em;
}

.panel.panel--open {
  flex: 5;
  font-size: 2.5em;
}