<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% if page.title%}{{ page.title }} · {% endif %}Flex Panel{%if page.title-after %} · {{ page.title-after }}{% endif %}</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet"> -->
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <script src="js/main.js" defer></script>
</head>
<body>
  <div class="container">
    {{ content }}
  </div>
  <footer>
    <a href="https://github.com/planeswalker1">My Github</a>
  </footer>
</body>
</html>